---
title: Alternatives to Ten
---

<style type="text/css" media="all">
  h1 {visibility:hidden;}
</style>

<img src="/images/altern.png" class="logoSplash" alt="Alternatives to Ten" />

<hr>

<h2>Recent Posts</h2>
$partial("templates/post-list.html")$
